<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://cdn.ome.lt/KcPDDGg6sjFanLb88cc5qQt-mKA=/570x0/smart/uploads/conteudo/fotos/juice_sGS10PS.jpg"
      cardTitle="Beetlejuice 2 terá retorno de look clássico do protagonista, diz figurinista"
      cardDescription="Colleen Atwood ainda relatou que Michael Keaton prefere outra roupa clássica do personagem">
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Digimon Adventure 02: O Início ganha trailer e pôster"
      photoCover="https://cdn.ome.lt/t8-fHvzCaSn9awyFdlpr9HALi8U=/1200x630/smart/extras/conteudos/digimon-02-o-inicio-trailer-poster-capa.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Globoplay terá Justiça 2 e novo ano de Os Outros em 2024; veja detalhes" 
      photoCover="https://cdn.ome.lt/fZUE1evlbAZQkrY16S7VXnfTbA4=/1200x630/smart/extras/conteudos/Design_sem_nome_vAJyyLi.jpg">
    </app-small-card>

    <app-small-card
      Id="4"
      cardTitle="Com Gabriel Leone e Alice Wegmann, Netflix revela elenco completo de Senna"
      photoCover="https://cdn.ome.lt/92Rst_21iYs36EaENISXRr6cOU4=/987x0/smart/uploads/conteudo/fotos/Design_sem_nome_biurFzz.jpg">
    </app-small-card>
  </div>
</div>
